@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(180deg, #101010, black, black, black, black, black, black ,black);
    color: #F6F6F6;
}


header {
    margin: 10px;
}

ul {
    list-style: none;
    display: inline-flex;
    margin: 20px;
}

li {
    margin: 0 26px 0 0;
}

a {
    text-decoration-line: none;
    color: white;
}


.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    margin: 10% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__titulo::before{
    content: '';
    margin: 22px auto;
    background: #22D4FD;
    display: block;
    width: 500px;
    height: 8px;
    border-radius: 10px;

}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__texto::after{
    content: '';
    margin: 22px auto;
    background: #22D4FD;
    display: block;
    width: 500px;
    height: 8px;
    border-radius: 10px;

}

#hr-apresentacao-projetos {
    margin: 0 0 0px 0;
}
        /*Troca de imagem*/

/*img {
    border-radius: 10px;
    transition: all 0.5s;
}

img:hover {
    transform:scale(1.02);
    box-shadow: 5px 5px 10px 3px #22D4FD;
}
*/

.projetos {
    background: linear-gradient(180deg,black, black, black, black, black, black, black, black,black, black, black,black, black,#181818);
}

.titulo-projetos {
    text-align: center;
    color: #22D4FD;
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
}

.section-projetos {
    margin: 10 auto;
}

.div-projestos {
    border: #121212;
    border-radius: 20px;
    margin: 5% 3% 5% 3%;
    box-shadow: 1px 1px 10px 1px #222020;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-projetos {
    display: grid;
    align-items: center;
    margin: 0 15% 0 20%;
    text-align: center;
    font-size: 30px;
}

#img-bolsa-de-viagem {
    width: 35%;
    border-radius: 30px;
    margin: 25px 40px
}

.link-projetos {
    padding: 25px 55px;
    box-shadow: 3px 3px 5px;
    background: #22D4FD;
    color: black;
    border-radius: 20px;
}

#texto-sounds-key {
    margin-right: 20%;
}

#img-sounds-key {
    width: 27%;
    border-radius: 30px;
    margin: 20px 40px;
}

#img-run-cloud {
    width: 37%;
    border-radius: 30px;
    margin: 38px 40px;
}

footer {
    background-color: #121212;
}

.section-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contato {
    margin: 20px 150px 20px 0;
}

.footer-foto {
    width: 12%;
    border-radius: 200px;
    margin: 40px 150px;
}

.texto-contato {
    font-size: 40px;
}

.lista-contato {
    list-style: none;
    display:initial;
    font-size: 20px;
    padding: 0 320px 0 0;
}

.texto-footer {
    font-size: 20px;
    color: #ffffff85;
    margin: 0 100px 0 0;
}

.texto-footer::after, .texto-footer::before {
    width: 85%;
    border-radius: 20px;
    background: #262323;
    margin: 20px auto;
    height: 5px;
    content: '';
    display: block;
}